<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
$(document).ready(function() {
  var point = $(this);
  $.ajaxSetup({ cache: false }); // This part addresses an IE bug.  without it, IE will only load the first number and will never refresh
  var data = {};
  var my_refresh = setInterval(function() {
        $.ajax({
          url: '{% url 'interface' %}',
          type: 'GET',
          data: data,
          dataType: 'json',
          success: function(resp) {
            $('#title').html(resp.title);
            $('#occupied').html(resp.occupied);
            $('#changepoint').html(resp.changepoint);
            $('#graph').html(resp.graph);
            $('#graph2').html(resp.graph2);
          }
        });
  }, 1000); // the "1000"
});
</script>
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<body>
     <h1 id="title">{{ title }}</h1>
    <div class="row">
        <div class="column">
            <h2>Column 1</h2>
            <p id="changepoint">{{ occupied }}</p>
            <p id="graph">{{ graph|safe }}</p>
        </div>
        <div class="column">
            <h2>Column 2</h2>
            <p id="occupied">{{ occupied }}</p>
            <p id="graph2">{{ graph2|safe }}</p>
        </div>
    </div>
</body>
</html>